#Introduction to phyton

#markdown
##markdown
###markdown
#markdown
### insert a image
![text](https://previews.123rf.com/images/anastasyao1/anastasyao11705/anastasyao1170500110/78616187-road-to-nature4.jpg)
### for creating orderd text
1.abc
2.efg
###**bold and single*italic text

###fundamental of data types

In [0]:
print("hello world")

hello world

#variable creation
a=10
b=10
a+b

In [0]:
# variable creation
a=10
b=10
a+b

20

In [0]:
name ="gitam"
print("university"+name)

universitygitam

In [0]:
name=input("enter a name")
age =int(input("enter age"))
print ("my name is :",name,"my age is:",age)

enter a namemadhu
enter age20
my name is : madhu my age is: 20

In [0]:
print("welcome to phyton")

welcome to phyton

In [0]:
x=123465
print(x)

123465

# take two inputs and do the following arithmatic operation

In [0]:
a=int(input("enter first number"))
b=int(input("enter a second number"))
c=a+b
d=a-b
e=a/b
f=a*b
print(c)
print(d)
print(e)
print(f)

enter first number8
enter a second number9
17
-1
0.8888888888888888
72

In [0]:
a=10
b=12.05
c=2+3j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [0]:
c=complex(3,4)
print(c)

(3+4j)

In [0]:
c1=3+5j
c2=7+8j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(10+13j)
(-4-3j)
(-19+59j)

##boolean

In [0]:
a=10
b=20
a>b

False

In [0]:
s1="abc"
s2="xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [0]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [0]:
a1=1234
print(len(str(a1)))

4

In [0]:
### opetators
1. arithmatic operator --->+,_,*,%.//,**
2. logical operator --->and,or,not
3. relational operator ---><,>,<=,>=,==,!=
4. Membership operator ---> in,notin

SyntaxError: ignored

In [0]:
n1= 12
n2= 21
print(n1-n2)
print(n1+n2)
print(n1*n2)
print(n1/n2)
print(n1**n2)
print(n1!=n2)
print(n1>n2)
print(n1//n2)
print(n1<n2)

-9
33
252
0.5714285714285714
46005119909369701466112
True
False
0
True

# relational operayor

In [0]:
print(n1==n2)
print(n1!=n2)
print(n1>n2)
print(n1>n2)

False
True
False
False

# logical opetator

In [0]:
print(n1>=10 and n1<=20)
print(n1>=10 or n1<=20)
print(not n1)

True
True
False

#probleam onrelation operator 
TAKE TWO NUMBERS ABD DO THE FOLLOWING OPERATION

In [0]:
a=int(input("enter a first number"))
b=int(input("enter a second number"))
print(a<b)
print(a>b)
print(a==b)
print(a<=b)
print(a>=b)
print(a!=b)

enter a first number13
enter a second number15
True
False
False
True
False
True

# membership operator
## --true if value found in sequence
### not in --if value not found in sequence

In [0]:
f= [1,2,3,4]
print(1 in f)
print(5in f)
print(6 not 4in f)

True
False
True

## conditional statements
1. if
2. else
3. elif
## syntax:
##### if condition:
> statememts <br>
##### else:
>statements

to check even or odd

In [0]:
n=int(input("enter a number"))
if  n%2 ==0:
      print("even")
else:
     print("odd")

enter a number65
odd

In [0]:
n=int(input("enter a no:"))
if n%3 == 0 and n%5 == 0:
     print("yes")
else:
      print("no")

enter a no:15
yes

# if give number is positive ,negative or zero

In [0]:
n=int((input("enter a number")))
if n>0:
    print("positive")
elif n<0:
    print("negative") 
else:    
    print("zero")

enter a number21435
positive

##check the input is leap yr or not

In [0]:
n=int(input("enter a value")) 
if n%4==0:
    print("leap year")
 else:
     print("not a leap year")

IndentationError: ignored

In [0]:
n= int(input("enter a number"))
i=1
while i<= n:
      print(i,end=" ")
      i=i+1

enter a number8
1 2 3 4 5 6 7 8

In [0]:
n=int(input("enter a number"))
i=1
s=0
while i <=n:
  if i%2 == 0:
     s=s+1
  i=i+1
print(s)

enter a number10
5