### Functional programing
1. simple
2. easy to understand
3. better reuseabitity
4. length of program will be divided in to sub program

In [0]:
def nameofFunction(<parameters>)
statements
return

In [18]:


def evenDigitsum(n):
    s=0
    while n != 0:
       r=n%10
       if r%2==0:
          s = s + r
       n = n // 10
    return s 
evenDigitsum(1234)

6

In [20]:
def square(x):
    print(x*x)
print(square(4))

16
None

In [21]:
def square(x):
    return x*x
square(3)

9

In [23]:
def cube(x):
    print(x*x*x)
print( cube(4)  )

64
None

In [26]:
def multiply(x=2,y=4):
    print("value of x",x)
    print("value of y",y)
    return(x*y)
print(multiply(y=2,x=4))

value of x 4
value of y 2
8

In [30]:
# swap value
def swap(x=2,y=3):
    temp = x
    x=y
    y = temp
    return x,y
swap(x,y)

(3, 2)

In [32]:
def largeDigit(n):
    large = 0
    while n!=0:
      r=n%10
      if large < r:
          large = r
      n=n//10
    return large
largeDigit(19535)

9

## For loop
##### syntax1;
for i in range (start,stop,step):
> statements
##### syntax2:
for i in Iterableobject:
> statements

In [34]:
# Function to print a prime number btw two limites

def printseries(lb,ub):
    for x in range(lb,ub+1):
         print(x,end = '')
    return
printseries(1,10)

12345678910

## Collection types:
# 1. list
2. tuple
3. set
4. Dictionary

#### List:
- one of the data structure in python
- data strudture means to store , sort and search options
- IT's ome common data structure in python, the items of list seperated by comma and enclosed in square brackets

### Exemple:
-list1=[1,2,3,4,5]
-list2=['Gitam',1,2]

In [48]:
li = [1,8,16,9,2]
print(li)#wil print all the list items
print(li[0])
print(li[1])
print(li[-5])
print(li[1:])
print(li[1:4])
print(li[-4:-1])

[1, 8, 16, 9, 2]
1
8
1
[8, 16, 9, 2]
[8, 16, 9]
[8, 16, 9]

In [49]:
li = ['gitam',1234,'hyd']
print(li)
li[1] = 456
print(li)

['gitam', 1234, 'hyd']
['gitam', 456, 'hyd']